#sumbit_1 {
    margin-top:20px;
    margin-bottom: 20px;
}

#sort_1 {
    margin-top:20px;
    margin-bottom: 20px;
    display: none;
}

input {
    margin: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
    background-color: chartreuse;
}